body {
  background-color: #000000;
}
hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}
#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}
#pano {
  width: 200px;
  height: 200px;
}
#search-general {
  width: 100%;
}
.options-nav {
  background: inherit;
  height: 930px;
  line-height: 35px;
  text-align: left;
  width: 362px;
  overflow-y: auto;
}
.card:hover {
  background-color: gold;
}
